[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/huatuostudio/HugoLoveIt
[submodule "HugoLoveIt"]
	path = HugoLoveIt
	url = https://github.com/huatuostudio/HugoLoveIt
[submodule "themes/HugoLoveIt"]
	path = themes/HugoLoveIt
	url = https://github.com/huatuostudio/HugoLoveIt
